.header__container {
  justify-content: space-between;
  background-color: #02160b;
  padding: rem(20px) 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-wrapper {
  margin-right: rem(15px);
}

.header__title {
  color: $font-light;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: rem(32px);
  line-height: rem(60px);
  font-weight: 400;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item:not(:last-child) {
  margin-right: rem(66px);
}

.header__navigation-link {
  color: $font-light;
  font-size: rem(23px);
  line-height: rem(60px);

  &:hover {
    color: $font-grey;
  }

  &:active {
    color: $font-dark;
  }
}

.header__navigation-search {
  fill: $font-light;

  &:hover {
    fill: $font-grey;
  }
  &:active {
    fill: $font-dark;
  }
}

.sign-in {
  border: 2px solid $orange-main;
  padding: rem(8px) rem(22px);
  border-radius: 5px;

  &:hover {
    color: $font-light;
    background: $orange-main;
  }

  &:active {
    background: $orange-dark;
    border-color: $orange-dark;
  }
}
