.hero {
  background-color: #02160b;
  background-image: url("../../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  min-height: 779px;
}
