html {
    font-size: $baseFontSize;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
}